extends ../main/layout

block css

block content
  div(class='pt-auth-container', class='pt-page', data-role='room')
    form(id='pt-auth-form', class='pt-form')

      div(class='error-message')
        h3 &nbsp;
      br
      div(id='auth-email-parent')
        input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Email')
      br
   
      input(type='submit', class='btn btn-lg btn-block btn-custom', value='I forgot my password')

block javascript