extends ../main/layout

block css

block content
  div(class='pt-auth-container')
    form(id='pt-friend-form', class='pt-form' data-action='friend')

      div(class='error-message')
        h3 &nbsp;
      br
      div(id='auth-name-parent')
        input(class='input-lg auth-name form-control', name='name', placeholder='Enter a friend\'s nickname', autocomplete='off')
      br
   
      input(type='submit', disabled="true", class='btn btn-lg btn-block btn-custom', value='Send request')

block javascript
  script(src='/js/local/main/main.js')
  script(src='/js/local/auth/friend.js')