extends ../landing/layout

block css

block content

  form(id='pt-auth-form', data-name='addfriend')

    div(class='error-message')
      h3 &nbsp;
    br
    div(id='auth-email-parent')
      input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Enter friend\'s name', autocomplete='off')
    br
   
    input(type='submit', class='btn btn-lg btn-block btn-custom', value='Send request')

block javascript