extends ../main/layout

block css
  link(href='/css/local/list.css', rel='stylesheet')

block content
  div(id='pt-list-container', class='pt-page', data-role='list')
    
block javascript
  script(src='/js/local/auth/list.js')


