extends ../main/layout

block css

block content
  
  a(href='/signup') signup
  div(class='pt-auth-container', class='pt-page', data-role='login')

   form(id='pt-auth-form', class='pt-form')

     div(class='error-message')
       h3 &nbsp;

     //div(id='auth-email-parent')
       //input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Email')
     //br

     div(id='auth-name-parent')
       input(class='input-lg auth-name form-control', name='name', placeholder='Nickname')
     br

     div(id='auth-password-parent')
       input(type='password', class='input-lg auth-password form-control', name='password', placeholder='Password')
     br
   
     input(type='submit', class='btn btn-lg btn-block btn-custom', value='Login')

block javascript