extends ../main/layout

block css

block content

  div(class='pt-auth-container')
  
    form(class='pt-form')
      
      div(class='error-message')
        
        h3 You've successfully logged out.
