extends ../main/layout

block css
  link(href='/css/local/room.css', rel='stylesheet')

block content
  div(id='pt-room-container', class='pt-page', data-role='room')
    
block javascript
  script(src='/js/local/auth/room.js')


