extends ../main/layout

block css

block content

  div(class='pt-auth-container', class='pt-page', data-role='settings')

    form(id='pt-auth-form', class='pt-form align-top')

      div(class='error-message')
        h3
      div(id="auth-subs-parent")

      input(type='submit', class='btn btn-lg btn-block btn-custom', value='Update')
    
block javascript
  script.
    subscriptions='!{subscriptions}';
  script(src='/js/local/auth/settings.js')