extends ../main/layout

block css

block content
  
  a(href='/login') login
  div(class='pt-auth-container', class='pt-page', data-role='signup')

    form(id='pt-auth-form', class='pt-form align-top')

      div(class='error-message')
        h3 &nbsp;
        
      div(id='auth-email-parent')
        input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Email')
      br

      div(id='auth-name-parent')
        input(class='input-lg auth-name form-control', name='name', placeholder='Nickname')
      br

      div(id='auth-password-parent')
        input(type='password', class='input-lg auth-password form-control', name='password', placeholder='Password (min. 8 chars)')
      br

      div(id="auth-subs-parent")
      br
 
      input(type='submit', class='btn btn-lg btn-block btn-custom', value='Signup')

      h5 Passtime will never collect, share, or sell your browsing history. All content expires immediately after being live.

      br
      br

block javascript
  script.
    subscriptions='!{subscriptions}';
  script(src='/js/local/auth/signup.js')