extends ../landing/layout

block css

block content
  form(id='pt-auth-form', data-name='signup')

    div(class='error-message')
      h3 &nbsp;
    br
    div(id='auth-email-parent')
      input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Email', autocomplete='off')
    br

    div(id='auth-name-parent')
      input(class='input-lg auth-name form-control', name='name', placeholder='Name', autocomplete='off')
    br

    div(id='auth-password-parent')
      input(type='password', class='input-lg auth-password form-control', name='password', placeholder='Password (min. 8 chars)')
    br

    div(id="#auth-subs-container" style="display:none")
      h4 What do you want to share with your friends?

      ul(id="#auth-subs")
        li
          label
            input(type='checkbox')
            |  SoundCloud
        
        li
          label
            input(type='checkbox')
            |  Spotify
        
        li
          label
            input(type='checkbox')
            |  YouTube
        
        li
          label
            input(type='checkbox')
            |  Wikipedia
        
        li
          label
            input(type='checkbox')
            |  NY Times
    br
 
    input(type='submit', class='btn btn-lg btn-block btn-custom', value='Signup')

    h5 Passtime will never share, look at, or collect any other information and will never operate in incognito (private) browsing mode. Privacy settings can always be adjusted in the settings menu. All content expires in 24 hours.

block javascript