extends ../main/layout

block css

block content

  form(id='pt-auth-form', class='pt-form', data-action='signup')

    div(class='error-message')
      h3 &nbsp;
    br
    div(id='auth-email-parent')
      input(type='email', class='input-lg auth-email form-control', name='email', placeholder='Email')
    br

    div(id='auth-name-parent')
      input(class='input-lg auth-name form-control', name='name', placeholder='Name')
    br

    div(id='auth-password-parent')
      input(type='password', class='input-lg auth-password form-control', name='password', placeholder='Password (min. 8 chars)')
    br

    div(id="auth-subs-parent")
    br
 
    input(type='submit', class='btn btn-lg btn-block btn-custom', value='Signup')

    h5 Passtime will never share, look at, or collect any other information and will never operate in incognito (private) browsing mode. Privacy settings can always be adjusted in the settings menu. All content expires in 24 hours.

block javascript
  script.
    subscriptions='!{subscriptions}';
  script(src='/js/local/auth/signup.js')