extends ../main/layout

block css

block content
  div(class='container')
    div(class='row')
      div(class='pt-auth-container', class='pt-page', data-role='suggestions')

        form(id='pt-auth-form', class='pt-form align-top', data-role='suggestions')

          div(class='error-message')
            h3

          div(id="auth-suggestions-parent")

    
block javascript

  script(src='/js/local/auth/suggestions.js')