<ul class="pt-menu">
  <li>
    <a href='#' id='pt-menu-home' data-purpose='home'>home</a>
  </li>
  <li>
    <a href='#' id='pt-menu-friend' data-purpose='friend'>add friend</a>
  </li>
  <li>
    <a href='#' id='pt-menu-settings' data-purpose='settings'>settings</a>
  </li>
</ul>