<ul data-id='{{data._id}}'  data-name='{{data.name}}' data-is-me='{{isMe}}'>

	{{#if isMe}}
		  <li>
		    <a href='#' class='pt-menu-home' data-purpose='home'>home</a>
		  </li>
	 {{/if}}

 	{{#if isMe}}
  		<li>
    		<a href='#' class='pt-menu-friend' data-purpose='friend' data-action='add'>add friend</a>
  		</li>
  	{{/if}}

  	{{#if isMe}}
  	<li>
    	<a href='#' class='pt-menu-settings' data-purpose='settings'>settings</a>
  	</li>
  	{{/if}}

  	<li>
    	<a href='#' class='pt-menu-hide' data-purpose='hide'>hide {{data.name}}</a>
  	</li>

</ul>