<ul data-id='{{data._id}}'  data-name='{{data.name}}' data-is-me='{{isMe}}'>

  {{#if isMe}}
      <li>
        <a href='#' class='pt-menu-card' data-purpose='card'> new card</a>
      </li>
  {{/if}}

	{{#if isMe}}
		  <li>
		    <a href='#' class='pt-menu-home' data-purpose='home'>friend requests</a>
		  </li>
	 {{/if}}

 	{{#if isMe}}
  		<li>
    		<a href='#' class='pt-menu-friend' data-purpose='friend'>add friend</a>
  		</li>
  {{/if}}

  {{#if isMe}}
  	<li>
    	<a href='#' class='pt-menu-settings' data-purpose='settings'>settings</a>
  	</li>
  {{/if}}

  {{#if isMe}}
  	<li>
    	<a href='#' class='pt-menu-hide-pt' data-purpose='hide-pt'>hide pt</a>
  	</li>
  {{/if}}
</ul>