<div id="pt-close-search-results">
	<span>
	      <img src="/icons/core/x.svg"/>
	</span>
</div>

<ul class="list-unstyled">

	{{#each this}}
		<li data-videoid={{id.videoId}}>
			{{snippet.title}}
		</li>
	{{/each}}


</ul>