<h3>People you might know</h3>

<div class='pt-auth-container'>

  {{#if this}} 

    <form id='pt-suggestions-form'>

      <ul>
        {{#each this}}

          <li>

            <div>
              {{name}}
            </div>
            
            <ul class="list-inline">
              <li>
                <input type='submit' data-action='request', data-role='suggestion', data-name='{{name}}', data-id='{{_id}}', class='btn btn-custom suggested-friend-btn', value='Add'>
              </li>
            </ul>

          </li>
          <br/>

        {{/each}}
      </ul>
      
    </form>

  {{else}}
    <span>None</span>
  {{/if}}

</div>