<h4>What do you want to share with your friends?</h4>

{{#if this}} 

  <ul>
    {{#each subscriptions}}

      <li>

        <div class="checkbox">
          <label>
            <input type="checkbox", data-id='{{_id}}', data-role='subscription', data-title="{{title}}", {{#if ../mySubscriptions}} {{#ifIn _id ../mySubscriptions}}checked{{/ifIn}} {{/if}} value="">
            {{title}}
          </label>
        </div>

      </li>
      
    {{/each}}
  </ul>

{{/if}}