<h4>A service automatically shares when you're on a participating website.</h4><h6 class='sub-text'> Choose which services you want enabled.</h6>

{{#if this}} 

  <ul>
    {{#each subscriptions}}

      <li>

        <div class="checkbox">

          <label>
            <input type="checkbox", data-id='{{_id}}', data-role='subscription', data-title="{{title}}", {{#if ../mySubscriptions}} {{#ifIn _id ../mySubscriptions}}checked{{/ifIn}} {{/if}} value="">
            {{title}}
          </label>
          
        </div>

      </li>
      
    {{/each}}
  </ul>
  </br>

{{/if}}