#pt-name-tag{
	width:100%;
	display:block;
	background:#fff;
	padding-top:5px;
}


.pt-auth-container { 
    display: flex;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

    .pt-form{

		margin:auto;
		left:0;
		right:0;
		top:0;
		bottom:0;
		width:35%;
		height:70%;

		input{
			text-align:center;
		}

		@media(max-width: 768px){
			width: 85%;
		}
		
		position: absolute;
	}

	.align-top{
		height:85%;
	}

	span{
		font-style:italic;
		padding-left:12%;
	}


	.sub-text{
		font-weight: 200 !important;
		padding-bottom:4%;
	}

}

#pt-install-tag{
	position:absolute;
	bottom:5px;
	right:5px;
}