.btn-custom {
	background: #7ec0ee;
	&:hover{
		background-color: #7ed1ff;
	}
}


ul {
	list-style: none;
}

h3{
	text-align:center;
	font-weight: 200 !important;
}

.no-padding{
	padding:0px;
}

.no-margin{
	margin:0px;
}