html
  head
    title Passtime
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/local/landing.css', rel='stylesheet')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block css
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
    script(src='/js/local/main/landing.js')

    block javascript