html
  head
    title Passtime
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/local/main.css', rel='stylesheet')
    link(href='/css/local/auth.css', rel='stylesheet')
    link(href='/css/local/commonStyles.css', rel='stylesheet')
    link(href='/css/local/bootstrapOverrides.css', rel='stylesheet')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block css
  body
    block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/socket.io-client/dist/socket.io.js')
    script(src='/bower_components/handlebars/handlebars.runtime.min.js')
    script(src='/js/local/templates/templates.js')

    a(href='/') Home
    br
    a(href='/signup') Signup
    br
    a(href='/login') Login
    br
    a(href='/follow') Add Friend
    br
    a(href='#' id="logout") Logout
    br
    div(id='name-tag') #{userName}
    div(id="friend-requests-parent")


    block javascript